<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>تماس با ما</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="contactForm" (ngSubmit)="addContact()" >
    <ion-list>
      <!--<ion-list-header color="primary">-->
        <!--<ion-label>Items</ion-label>-->
      <!--</ion-list-header>-->
      <ion-item >
        <ion-icon item-left name="contact"></ion-icon>
        <ion-label color="ligh-grey" floating required >نام:    </ion-label>
        <ion-input type="text" autofocus=true  formControlName="name" class="form-control" required></ion-input>

          <span class="help-block form-error text-danger small"
                *ngIf="contactForm.controls['name'].errors?.required &&
  contactForm.controls['name'].touched">لطفا نام خود را وارد کنید... </span>

      </ion-item>

      <ion-item>
        <ion-icon item-left name="mail"></ion-icon>
        <ion-label color="ligh-grey" floating required > ایمیل: </ion-label>
        <ion-input type="text" formControlName="email" autofocus=true class="form-control" required ></ion-input>
          <span class="help-block form-error text-danger small"
                *ngIf="contactForm.controls['email'].errors?.required &&
  contactForm.controls['email'].touched">لطفا ایمیل را وارد کنید ... </span>
      </ion-item>

      <ion-item>
        <ion-textarea col="6" row="30" placeholder="متن خود را بنویسید..." required formControlName="message" name="message"></ion-textarea>
          <span class="help-block form-error text-danger small"
                *ngIf="contactForm.controls['message'].errors?.required &&
  contactForm.controls['message'].touched">لطفا نظر خود را بنویسید...</span>
      </ion-item>
    </ion-list>
      <ion-button  type="submit" color="primary" shape="round" expand="block" size="large" [disabled]="!contactForm.valid"><ion-spinner [hidden]=spinner class="circle" name="circles"></ion-spinner><span class="button-inner">ارسال</span></ion-button>
  </form>

  <div>{{massage}}</div>

</ion-content>
