<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>جستجوی غذا</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary" >
    <ion-searchbar showCancelButton="never"
    placeholder="نام غذا را وارد کنید..."
     animated
    (ionChange)="foodName($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let food of foods" (click)="getThisFood(food.id)">
      <ion-label>
        {{food.food_title}}
      </ion-label>
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
