<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>درباره ما</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card >
    <!--<ion-item (click)="getDetail(food.calendar.month,food.calendar.day)">-->
    <ion-item >
      <!--<ion-item >-->
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label> {{items}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
