<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>دستور پخت {{foodName}} {{foodTitle }} </ion-title>
    <!--<ion-button expand="full" (click)="share()">Share</ion-button>-->
    <div (click)="share()" slot="end" class="share" ><ion-icon class="share" name="share"></ion-icon></div>
    <ion-back-button  defaultHref="" slot="end"></ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center *ngIf="detailsLoading" class="load">
    لطفا صبر کنید...
    <ion-spinner  name="bubbles" class="ion-padding" > </ion-spinner>
  </div>

  <ion-card *ngIf="data">
    <!--<ion-card-header>-->
      <!--<ion-card-title>-->
        <!--{{ data.name }}-->
      <!--</ion-card-title>-->
      <!--<ion-card-subtitle>-->
        <!--{{ data.website }}-->
      <!--</ion-card-subtitle>-->
    <!--</ion-card-header>-->

    <ion-card-content>
      <div [innerHTML]= data></div>
    </ion-card-content>
  </ion-card>

</ion-content>
