.share
{
  font-size: 25px;
  position: relative;
  right:4px;
  top: 3px;
}
.load
{
  text-align: center;
  color: blue;

  ion-spinner
  {
    position: relative;
    top: 8px;
    color: blue;
  }
}

div[name^="calendar"] { color: red }

.left
{
  text-align: left;
}
