<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>week</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let food of foods">
    <!--<ion-item (click)="getDetail(food.calendar.month,food.calendar.day)">-->
    <ion-item (click)="getDetail(food.calendar.month,food.calendar.day)">
    <!--<ion-item >-->
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label> {{food.weekname}} {{food.calendar.day}} {{ toPersian(food.calendar.month) }} : {{food.calendar.food_title}}</ion-label>
    </ion-item>
  </ion-card>

  <!--<ion-card>-->
    <!--<ion-item>-->
      <!--<ion-icon name="star" slot="start"></ion-icon>-->
      <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
      <!--&lt;!&ndash;<ion-button fill="outline" slot="end">بیشتر بدانید </ion-button>&ndash;&gt;-->
    <!--</ion-item>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<ion-item>-->
      <!--<ion-icon name="star" slot="start"></ion-icon>-->
      <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
      <!--&lt;!&ndash;<ion-button fill="outline" slot="end">بیشتر بدانید </ion-button>&ndash;&gt;-->
    <!--</ion-item>-->
  <!--</ion-card>-->

  <!--<ion-card>-->
    <!--<ion-item>-->
      <!--<ion-icon name="star" slot="start"></ion-icon>-->
      <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
      <!--&lt;!&ndash;<ion-button fill="outline" slot="end">بیشتر بدانید </ion-button>&ndash;&gt;-->
    <!--</ion-item>-->
  <!--</ion-card><ion-card>-->
  <!--<ion-item>-->
    <!--<ion-icon name="star" slot="start"></ion-icon>-->
    <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
    <!--&lt;!&ndash;<ion-button fill="outline" slot="end">بیشتر بدانید </ion-button>&ndash;&gt;-->
  <!--</ion-item>-->
<!--</ion-card><ion-card>-->
  <!--<ion-item class="action-back" [routerLink]="" routerLinkActive="active">-->
    <!--<ion-icon name="star" slot="start"></ion-icon>-->
    <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
    <!--&lt;!&ndash;<ion-button fill="outline" slot="end">بیشتر بدانید </ion-button>&ndash;&gt;-->
  <!--</ion-item>-->
<!--</ion-card><ion-card>-->
  <!--<ion-item>-->
    <!--<ion-icon name="star" slot="start"></ion-icon>-->
    <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
    <!--&lt;!&ndash;<ion-button fill="outline" slot="end">بیشتر بدانید </ion-button>&ndash;&gt;-->
  <!--</ion-item>-->
<!--</ion-card><ion-card>-->
  <!--<ion-item>-->
    <!--<ion-icon name="star" slot="start"></ion-icon>-->
    <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
    <!--&lt;!&ndash;<ion-button fill="outline" slot="end">بیشتر بدانید </ion-button>&ndash;&gt;-->
  <!--</ion-item>-->
<!--</ion-card><ion-card>-->
  <!--<ion-item>-->
    <!--<ion-icon name="star" slot="start"></ion-icon>-->
    <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
    <!--&lt;!&ndash;<ion-button fill="outline" slot="end">بیشتر بدانید </ion-button>&ndash;&gt;-->
  <!--</ion-item>-->
<!--</ion-card>-->

  <!--<ion-list>-->
    <!--<ion-item href= "https://www.ionicframework.com"  detail="false">-->
      <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
      <!--<ion-icon name="fastforward" size="large" slot="end"></ion-icon>-->
    <!--</ion-item>-->

    <!--<ion-item href= "https://www.ionicframework.com"  detail="false">-->
      <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
      <!--<ion-icon name="fastforward" size="large" slot="end"></ion-icon>-->
    <!--</ion-item>-->

    <!--<ion-item href= "https://www.ionicframework.com"  detail="false">-->
      <!--<ion-label>یکشنبه 3 خرداد :خورشت ماست</ion-label>-->
      <!--<ion-icon name="fastforward" size="large" slot="end"></ion-icon>-->
    <!--</ion-item>-->
  <!--</ion-list>-->
  <!---->
  <!--<ion-card>-->
    <!--<ion-card-header>-->
      <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <!--<ion-card-title>Card Title</ion-card-title>-->
    <!--</ion-card-header>-->

    <!--<ion-card-content>-->
      <!--Keep close to Nature's heart... and break clear away, once in awhile,-->
      <!--and climb a mountain or spend a week in the woods. Wash your spirit clean.-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->
  <!---->
  <!--<ion-card>-->
    <!--<ion-item href="#" class="activated">-->
      <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
      <!--<ion-label>Card Link Item 1 .activated</ion-label>-->
    <!--</ion-item>-->

    <!--<ion-item href="#">-->
      <!--<ion-icon name="wine" slot="start"></ion-icon>-->
      <!--<ion-label>Card Link Item 2</ion-label>-->
    <!--</ion-item>-->

    <!--<ion-item class="activated">-->
      <!--<ion-icon name="warning" slot="start"></ion-icon>-->
      <!--<ion-label>Card Button Item 1 .activated</ion-label>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-icon name="walk" slot="start"></ion-icon>-->
      <!--<ion-label>Card Button Item 2</ion-label>-->
    <!--</ion-item>-->
  <!--</ion-card>-->

</ion-content>
