<ion-header>
    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title *ngIf="foods">
            {{foods?.calendar.day }} {{ M }} :
            {{foods?.food.fg_name}} {{foods?.food.food_title}}
        </ion-title>

        <ion-buttons class="calendar" slot="end" (click)="toggleVisible()">
            <!--<p> سایر روز ها</p>-->
            <ion-icon name="calendar"></ion-icon>
        </ion-buttons>

        <!--<ion-button expand="full" (click)="share()">Share2</ion-button>-->
        <!--<ion-button expand="full" (click)="shareTwitter()">Share on Twitter</ion-button>-->
        <!--&lt;!&ndash;<ion-button expand="full" (click)="shareEmail()">Share by Email</ion-button>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-button expand="full" (click)="shareFacebook()">Share on Facebook</ion-button>&ndash;&gt;-->
        <!--<ion-button expand="full" (click)="shareWhatsApp()">Share with WhatsApp</ion-button>-->

        <div (click)="share()" slot="end" class="share">
            <ion-icon class="share" name="share"></ion-icon>
        </div>

    </ion-toolbar>
</ion-header>


<!--[style.color]="textColor"-->
<ion-content padding>
    <!--<div>-->
    <!--error :{{ errorMassage }}-->
    <!--</div>-->

    <!--<button [style.color]="textColor">thie  llfgsjg kckjk  kjghg</button>-->

    <div [@calendar]="visibleState">
        <ng-jalali-calendar (dateSelected)="onSelectDate($event)" [selectedDates]="selectedDates"></ng-jalali-calendar>
    </div>
    <ion-card class="welcome-card" *ngIf="foods">
        <ion-img src="{{foods.food.food_pic}}"></ion-img>
        <ion-card-header>
            <ion-card-subtitle><span *ngIf="today">امروز</span> {{foods.calendar.day }} {{ M }}</ion-card-subtitle>
            <ion-card-title>{{foods.food.fg_name}} {{foods.food.food_title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{foods.food.food_desc}}</p>
            <p class="button-card">
                <ion-button expand="full" icon-start class="button-right btn" (click)="goToCookie()">
                    <ion-icon name="star"></ion-icon>
                    دستور پخت غذا
                </ion-button>

                <ion-button expand="full" icon-start class="button-right btn " (click)="open()">
                    <ion-icon name="search" class="search-icon"></ion-icon>
                    جستوجو در گوگل
                </ion-button>
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
