.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.share
{
  font-size: 25px;
  position: relative;
  right: -2px;
  top: 4px;
}

div.day.selected
{
  //background-color: #ff38d4 !important;
  background-color: var(--ion-color-primary) !important;
}

.calendar
{
  ion-icon[name='calendar']
  {
    padding-left: 1rem;
    font-size: 2rem;
  }
}
.button-card
{
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .button-right
  {
    margin-left: 1rem;
  }
}

.link-btn
{
  //color: #ffffff !important;
  color: var(--ion-color-secondary-contrast) !important;
  text-decoration: none;
}

.ion-card
{
  .btn
  {
    .search-icon
    {
      padding-top: 4px;
      padding-left : 7px;
    }
  }
}
